[submodule "hugo-bearcub"]
	path = hugo-bearcub
	url = https://github.com/clente/hugo-bearcub.git
[submodule "hugo-bearblog"]
	path = hugo-bearblog
	url = https://github.com/janraasch/hugo-bearblog.git
